body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat","Avenir";
}
.square{
	width: 30%;
	background: yellow;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	transition: background 0.6s;
	-webkit-transition: 0,6s;
	-moz-transition: 0.6s;
	border-radius: 15%
}
#container{
	margin: 20px auto;
	max-width: 600px;
}
#stripe{
	background: white;
	color: black;
	height: 30px;
	text-align: center;
}
#colordisplay{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%; 
}
.selected{
	color: white;
	background: steelblue;
}
h1{
	background: steelblue;
	height: 150px;
	margin: 0;
	font-weight: normal;
	color: white;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: 0,3s;
	-moz-transition: 0.3s;
	outline: none;
}
button:hover{
	color: white;
	background: steelblue;
}
